---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  return (await getCollection("bear_export"))
    .map((col) => col.data)
    .filter((post: any) => post.publish && !post["is page"])
    .map((post: any) => {
      post["published date"] = new Date(post["published date"]);
      post["last modified"] = new Date(post["last modified"]);
      post["first published at"] = new Date(post["last modified"]);

      return {
        params: { slug: `${post.slug}` },
        props: { post: post },
      };
    });
}

interface Props {
  post: any;
}

// const { slug } = Astro.params;
const { post } = Astro.props;
---

<Layout pageTitle={post.title}>
  <h1>{post.title}</h1>
  <p>
    <i>
      <time datetime={post["published date"].toISOString()}>
        {
          post["published date"].toLocaleDateString("en-US", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })
        }
      </time>
    </i>
  </p>

  <article set:html={post.content} />

  <!-- {
    Object.keys(post).map((key) => (
      <p>
        <strong>{key}</strong>: {JSON.stringify(post[key])}
      </p>
    ))
  } -->
</Layout>
